flow-toggle-led.json
[
    {
        "id": "66e0ec7b8f7b4234",
        "type": "tab",
        "label": "Toggle LED (PBS)",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "97a2c187c11f742a",
        "type": "arduino in",
        "z": "66e0ec7b8f7b4234",
        "name": "Potentiometer",
        "pin": "8",
        "state": "ANALOG",
        "arduino": "b4543f4.a6ae6c",
        "x": 550,
        "y": 200,
        "wires": [
            [
                "06947de2d1a5c587"
            ]
        ]
    },
    {
        "id": "7520123ef9d0f83a",
        "type": "arduino out",
        "z": "66e0ec7b8f7b4234",
        "name": "Tri-Colour RED",
        "pin": "15",
        "state": "PWM",
        "arduino": "b4543f4.a6ae6c",
        "x": 1460,
        "y": 200,
        "wires": []
    },
    {
        "id": "9e0e8d4f67499afd",
        "type": "arduino out",
        "z": "66e0ec7b8f7b4234",
        "name": "Tri-Colour GREEN",
        "pin": "14",
        "state": "PWM",
        "arduino": "b4543f4.a6ae6c",
        "x": 1470,
        "y": 260,
        "wires": []
    },
    {
        "id": "62fe5d95b5954593",
        "type": "arduino out",
        "z": "66e0ec7b8f7b4234",
        "name": "Tri-Colour BLUE",
        "pin": "18",
        "state": "PWM",
        "arduino": "b4543f4.a6ae6c",
        "x": 1460,
        "y": 320,
        "wires": []
    },
    {
        "id": "67215b725ea35602",
        "type": "arduino in",
        "z": "66e0ec7b8f7b4234",
        "name": "PBS",
        "pin": "19",
        "state": "INPUT",
        "arduino": "b4543f4.a6ae6c",
        "x": 530,
        "y": 320,
        "wires": [
            [
                "b5fee3bc72a6c44f"
            ]
        ]
    },
    {
        "id": "0dd877d31d864c5a",
        "type": "debug",
        "z": "66e0ec7b8f7b4234",
        "name": "Potentiometer final",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1250,
        "y": 400,
        "wires": []
    },
    {
        "id": "b5fee3bc72a6c44f",
        "type": "debounce",
        "z": "66e0ec7b8f7b4234",
        "time": "50",
        "name": "",
        "x": 760,
        "y": 320,
        "wires": [
            [
                "ff9a2811381e8003",
                "e4eeb59417113310"
            ]
        ]
    },
    {
        "id": "ff9a2811381e8003",
        "type": "function",
        "z": "66e0ec7b8f7b4234",
        "name": "Toggle LEDs",
        "func": "// default property\nif (global.get(\"led\") == null) {\n    global.set(\"led\", \"B\");\n} \n\n// check if pbs is on\nif (msg.payload == 1){\n    \n    // toggle LEDs\n    if (global.get(\"led\") == \"R\") {\n        global.set(\"led\", \"G\");\n    } else if (global.get(\"led\") == \"G\") {\n        global.set(\"led\", \"B\");\n    } else if (global.get(\"led\") == \"B\") {\n        global.set(\"led\", \"R\");\n    }\n}\n\nif (global.get(\"level\") == null){\n    msg.payload = 0;\n} else {\n    msg.payload = global.get(\"level\");\n}\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 970,
        "y": 320,
        "wires": [
            [
                "9bedb40792232e62",
                "5291a7c816c1be35",
                "2c2bb3c8af887bc5"
            ]
        ]
    },
    {
        "id": "73a178010131a54a",
        "type": "rbe",
        "z": "66e0ec7b8f7b4234",
        "name": "",
        "func": "rbe",
        "gap": "5",
        "start": "",
        "inout": "out",
        "septopics": false,
        "property": "payload",
        "topi": "topic",
        "x": 950,
        "y": 200,
        "wires": [
            [
                "9bedb40792232e62",
                "5291a7c816c1be35",
                "2c2bb3c8af887bc5",
                "0dd877d31d864c5a"
            ]
        ]
    },
    {
        "id": "9bedb40792232e62",
        "type": "function",
        "z": "66e0ec7b8f7b4234",
        "name": "function R",
        "func": "// default property\nif (global.get(\"led\") == null) {\n    global.set(\"led\", \"B\");\n} \n\nglobal.set(\"level\", msg.payload);\n\nif (global.get(\"led\") == \"R\"){\n    // do nothing\n} else {\n    msg.payload = 0;\n}\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1220,
        "y": 200,
        "wires": [
            [
                "7520123ef9d0f83a"
            ]
        ]
    },
    {
        "id": "5291a7c816c1be35",
        "type": "function",
        "z": "66e0ec7b8f7b4234",
        "name": "function G",
        "func": "if (global.get(\"led\") == \"G\") {\n    // do nothing\n} else {\n    msg.payload = 0;\n}\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1230,
        "y": 260,
        "wires": [
            [
                "9e0e8d4f67499afd"
            ]
        ]
    },
    {
        "id": "2c2bb3c8af887bc5",
        "type": "function",
        "z": "66e0ec7b8f7b4234",
        "name": "function B",
        "func": "if (global.get(\"led\") == \"B\") {\n    // do nothing\n} else {\n    msg.payload = 0;\n}\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1220,
        "y": 320,
        "wires": [
            [
                "62fe5d95b5954593"
            ]
        ]
    },
    {
        "id": "e4eeb59417113310",
        "type": "debug",
        "z": "66e0ec7b8f7b4234",
        "name": "PBS final",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 960,
        "y": 400,
        "wires": []
    },
    {
        "id": "79e668dd376b4235",
        "type": "comment",
        "z": "66e0ec7b8f7b4234",
        "name": "Toggle LED using Push Button Switch (PBS) by Mostapha Abdelaziz (abde0138@algonquinlive.com)",
        "info": "",
        "x": 820,
        "y": 80,
        "wires": []
    },
    {
        "id": "06947de2d1a5c587",
        "type": "range",
        "z": "66e0ec7b8f7b4234",
        "minin": "0",
        "maxin": "1023",
        "minout": "0",
        "maxout": "100",
        "action": "clamp",
        "round": true,
        "property": "payload",
        "name": "",
        "x": 760,
        "y": 200,
        "wires": [
            [
                "73a178010131a54a"
            ]
        ]
    },
    {
        "id": "b4543f4.a6ae6c",
        "type": "arduino-board",
        "device": "COM9"
    }
]